@if (medico$ | async) {
  <section class="mx-auto max-w-4xl px-4 py-6">
    <div>
      <h2 class="text-2xl font-semibold">Edição de Médico</h2>
      <hr class="my-4 border-muted/30" />

      <mat-card class="p-4 rounded-2xl shadow-sm">
        <form [formGroup]="medicoForm" (ngSubmit)="editar()">
          <mat-card-header>
            <mat-card-title class="text-lg font-medium">
              Preencha o formulário de edição
            </mat-card-title>
          </mat-card-header>

          <mat-card-content class="mt-6 space-y-4">
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Nome do Médico</mat-label>
              <input formControlName="nome" matInput type="text" />

              @if (nome?.errors?.['required']) {
                <mat-error>O nome do médico é obrigatório.</mat-error>
              }
              @if (nome?.errors?.['minlength']) {
                <mat-error>O nome do médico deve conter no mínimo 3 caracteres.</mat-error>
              }
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
              <mat-label>CRM do Médico</mat-label>
              <input formControlName="crm" matInput type="text" />

              @if (crm?.errors?.['required']) {
                <mat-error>O CRM do médico é obrigatório.</mat-error>
              }
              @if (crm?.errors?.['pattern']) {
                <mat-error>O CRM do médico deve seguir o padrão 12345-UF.</mat-error>
              }
            </mat-form-field>
          </mat-card-content>

          <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
            <a mat-stroked-button routerLink="/medicos" class="px-4"> Voltar </a>

            <button type="submit" [disabled]="medicoForm.invalid" mat-flat-button class="px-6">
              <mat-icon class="!text-base mr-1">check</mat-icon>
              Concluir
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </section>
}
